##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
x = 3
print (x)

3

2. > Create a variable containing your name (Points : 5)

In [ ]:
x = 'Munira'
print (x)

Munira

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [ ]:
list_itemdalamkelas = ['meja', 'kursi', 'jam dinding', 'sapu', 'kemoceng']
print (list_itemdalamkelas)

['meja', 'kursi', 'jam dinding', 'sapu', 'kemoceng']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [ ]:
import pandas as pd
harga_satuan = {
    'buku':8000,
    'pensil':5000,
    'penghapus':3000,
    'penggaris':4000
}


df = pd.DataFrame({
    'alat tulis':['buku', 'pensil', 'penghapus', 'penggaris', 'buku', 'pensil'],
    'terjual':[5,4,3,2,1,3]
})

df

  alat tulis  terjual
0       buku        5
1     pensil        4
2  penghapus        3
3  penggaris        2
4       buku        1
5     pensil        3

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [ ]:
import pandas as pd
harga_satuan = {
    'kipas angin':1200,
    'televisi':400,
    'setrika':400,
    'rice cooker':400
}


df = pd.DataFrame({
    'barang elektronik':['kipas angin', 'televisi', 'setrika', 'rice cooker', 'televisi', 'kipas angin', 'setrika', 'rice cooker'],
    'terjual':[3,3,3,3,2,2,2,2],
})

df['harga_per_satuan'] = df['barang elektronik'].map(harga_satuan)
df['total_dibayar_pelanggan'] = (df['terjual'] * df['harga_per_satuan']) * (90/100)

df

  barang elektronik  terjual  harga_per_satuan  total_dibayar_pelanggan
0       kipas angin        3              1200                   3240.0
1          televisi        3               400                   1080.0
2           setrika        3               400                   1080.0
3       rice cooker        3               400                   1080.0
4          televisi        2               400                    720.0
5       kipas angin        2              1200                   2160.0
6           setrika        2               400                    720.0
7       rice cooker        2               400                    720.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)

list_countries = ['Indonesia', 'Malaysia', 'Thailand', 'Filipina', 'Brunai Darussalam', 'Vietnam', 'Singapura']
print (list_countries)

['Indonesia', 'Malaysia', 'Thailand', 'Filipina', 'Brunai Darussalam', 'Vietnam', 'Singapura']

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)

list_countries = ['Indonesia', 'Malaysia', 'Thailand', 'Filipina', 'Brunai Darussalam', 'Vietnam', 'Singapura']
list_countries [0], list_countries [1], list_countries [2], list_countries [3]

('Indonesia', 'Malaysia', 'Thailand', 'Filipina')

In [ ]:
# Append new country to the list (Points : 5)

list_countries = ['Indonesia', 'Malaysia', 'Thailand', 'Filipina', 'Brunai Darussalam', 'Vietnam', 'Singapura']
list_countries.append('Laos')
print (list_countries)

['Indonesia', 'Malaysia', 'Thailand', 'Filipina', 'Brunai Darussalam', 'Vietnam', 'Singapura', 'Laos']

In [ ]:
# Drop one country from the list (Points : 5)

list_countries = ['Indonesia', 'Malaysia', 'Thailand', 'Filipina', 'Brunai Darussalam', 'Vietnam', 'Singapura']
list_countries [0], list_countries [1], list_countries [2], list_countries [3], list_countries [4], list_countries [5]

('Indonesia',
 'Malaysia',
 'Thailand',
 'Filipina',
 'Brunai Darussalam',
 'Vietnam')

In [ ]:
# Get country in the last index (Points : 5)

list_countries = ['Indonesia', 'Malaysia', 'Thailand', 'Filipina', 'Brunai Darussalam', 'Vietnam', 'Singapura']
list_countries [6]

'Singapura'

# Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below

custamer = {
    'Dio':1,
    'Eka':0,
    'Riki':1,
    'Ani':0
}

In [ ]:
# Print all keys in customer (Points : 5)

import pandas as pd
custamer = {
    'Dio':1,
    'Eka':0,
    'Riki':1,
    'Ani':0
}


df = pd.DataFrame({
    'name':['Dio', 'Eka', 'Riki', 'Ani'],
    'age':[20,19,39,24],
})

df

   name  age
0   Dio   20
1   Eka   19
2  Riki   39
3   Ani   24

In [ ]:
# Print all customer names (Points : 5)

list_customername = ['Dio','Eka','Riki','Ani']
print (list_customername)

['Dio', 'Eka', 'Riki', 'Ani']

In [ ]:
# Print the first customer name (Points : 5)

list_customername = ['Dio','Eka','Riki','Ani']
list_customername[0]

'Dio'

In [ ]:
# Drop "age" key from the dictionary (Points : 5)

import pandas as pd
custamer = {
    'Dio':1,
    'Eka':0,
    'Riki':1,
    'Ani':0
}


df = pd.DataFrame({
    'name':['Dio', 'Eka', 'Riki', 'Ani']
})

df

   name
0   Dio
1   Eka
2  Riki
3   Ani

In [ ]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 


import pandas as pd
custamer = {
    'Dio':male,
    'Eka':female,
    'Riki':female,
    'Ani':female
}


df = pd.DataFrame({
    'name':['Dio', 'Eka', 'Riki', 'Ani'],
    'age':[20,19,39,24],
})

df